extends ../../layouts/default.pug

block main
    h1.mb-4 Danh sách tài khoản

    .card
        .card-header Danh sách

        .card-body
            .row.mb-3
                .col-8

                .col-4.text-end
                    a(
                        href=`${prefixAdmin}/accounts/create`
                        class="btn btn-outline-success"
                    )
                        i(class="bi bi-plus")
                        |  Thêm mới

            table.table.table-hover.table-sm.align-middle
                thead
                    tr
                        th(style="width:60px") STT
                        th(style="width:90px") Avatar
                        th Họ tên
                        th Phân quyền
                        th Email
                        th(style="width:120px") Trạng thái
                        th(style="width:180px") Hành động

                tbody
                    each item, index in records
                        tr
                            td #{index + 1}

                            td
                                img(
                                    src=item.avatar
                                    alt=item.fullName
                                    width="50"
                                    height="50"
                                    style="object-fit:cover;border-radius:4px;"
                                )

                            td #{item.fullName}

                            td #{item.role.title}

                            td #{item.email}

                            td
                                if item.status === "active"
                                    a(
                                        href="javascript:;"
                                        class="badge bg-success text-decoration-none"
                                        data-status="active"
                                    ) Hoạt động
                                else
                                    a(
                                        href="javascript:;"
                                        class="badge bg-danger text-decoration-none"
                                        data-status="inactive"
                                    ) Dừng hoạt động

                            td
                                a(
                                    href=`${prefixAdmin}/accounts/detail/${item.id}`
                                    class="btn btn-secondary btn-sm"
                                ) Chi tiết

                                a(
                                    href=`${prefixAdmin}/accounts/edit/${item.id}`
                                    class="btn btn-warning btn-sm ms-1"
                                ) Sửa

                                button(
                                    type="button"
                                    class="btn btn-danger btn-sm ms-1"
                                ) Xóa